doctype html
html
    head
        title
            |greetings
        style
            include style.css
    body
        div
            block content

        div.footer
            p
            | thank you for joining us
            a(href="http://our-site.com") Our site





